{# Playground Theme: product listing block for category page (sort, limit, grid/list, compare, product list, pagination). #}
{% include 'extension/playground_theme/catalog/view/template/product/display_control.twig' %}

{# Grid/list classes: override common.js by defining them here; script below applies these when toggling. #}
{% set product_list_grid_class = product_list_grid_class|default('row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3') %}

{% set product_list_list_class = product_list_list_class|default('row row-cols-1 g-3') %}

<div id="product-list" class="{{ product_list_grid_class }}" data-display-grid="{{ product_list_grid_class }}" data-display-list="{{ product_list_list_class }}">
	{% for product in products %}
		<div class="col">{{ product }}</div>

	{% endfor %}
</div>
<div class="col-12 py-4 d-flex">
	{{ pagination }}
</div>

<script>
	$(function () {
var $list = $('#product-list');
var gridClass = $list.data('display-grid');
var listClass = $list.data('display-list');
if (! gridClass || ! listClass) 
return;



$('#button-list').off('click').on('click', function () {
$list.attr('class', listClass);
$('#button-grid').removeClass('active');
$('#button-list').addClass('active');
localStorage.setItem('display', 'list');
});
$('#button-grid').off('click').on('click', function () {
$list.attr('class', gridClass);
$('#button-list').removeClass('active');
$('#button-grid').addClass('active');
localStorage.setItem('display', 'grid');
});
if (localStorage.getItem('display') === 'list') {
$list.attr('class', listClass);
$('#button-grid').removeClass('active');
$('#button-list').addClass('active');
} else {
$list.attr('class', gridClass);
$('#button-list').removeClass('active');
$('#button-grid').addClass('active');
}
});
</script>
