{# Playground Theme: override common/currency — edit markup and styles here. #}
{% if currencies|length > 1 %}
	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency" class="d-inline">
		<div class="dropdown">
			<a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle" aria-expanded="false">
				{% for currency in currencies %}
					{% if currency.code == code %}
						{% if currency.symbol_left %}
							{{ currency.symbol_left }}
						{% else %}
							{{ currency.symbol_right }}
						{% endif %}
					{% endif %}
				{% endfor %}
				<span class="d-none d-xl-inline ms-1">{{ text_currency }}</span>
			</a>
			<ul class="dropdown-menu">
				{% for currency in currencies %}
					<li>
						{% if currency.symbol_left %}
							<a href="{{ currency.code }}" class="dropdown-item">{{ currency.symbol_left }}
								{{ currency.title }}</a>
						{% else %}
							<a href="{{ currency.code }}" class="dropdown-item">{{ currency.title }}
								{{ currency.symbol_right }}</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<input type="hidden" name="code" value=""/>
		<input type="hidden" name="redirect" value="{{ redirect }}"/>
	</form>
{% endif %}
