<nav class="navbar navbar-expand bg-body-tertiary" id="top">
	<div class="container">
		<ul class="navbar-nav">
			<li class="nav-item">{{ currency }}</li>
			<li class="nav-item">{{ language }}</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{{ contact }}" title="{{ telephone }}">
					{% include 'extension/playground_theme/catalog/view/template/icons/phone_regular_full.twig' %}
					<span class="d-none d-xl-inline ms-1">{{ telephone }}</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					{% include 'extension/playground_theme/catalog/view/template/icons/user_regular_full.twig' %}
					<span class="d-none d-xl-inline ms-1">{{ text_account
            }}</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					{% if not logged %}
						<li>
							<a class="dropdown-item" href="{{ register }}">{{ text_register }}</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ login }}">{{ text_login }}</a>
						</li>
					{% else %}
						<li>
							<a class="dropdown-item" href="{{ account }}">{{ text_account }}</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ order }}">{{ text_order }}</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ transaction }}">{{ text_transaction }}</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ download }}">{{ text_download }}</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ logout }}">{{ text_logout }}</a>
						</li>
					{% endif %}
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">
					{% include 'extension/playground_theme/catalog/view/template/icons/heart_regular_full.twig' %}
					<span class="d-none d-xl-inline ms-1">{{ text_wishlist }}</span>
				</a>
			</li>
			{% if products or vouchers %}
			<li class="nav-item">
				<a class="nav-link" href="{{ checkout }}" title="{{ text_checkout }}">
					{% include 'extension/playground_theme/catalog/view/template/icons/credit_card_regular_full.twig' %}
					<span class="d-none d-xl-inline ms-1">{{ text_checkout }}</span>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
